<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>spsiom</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
<div class="page">
    <div class="header">
        <div class="logo"><a href="index.html"> <img src="logo.gif" alt="logo"> </a></div>
        <div class="text"> Call us on: 071 438045 <br> Email: <a href="nareshsharma55.bs@gmail.com">
            milijuli@gas.com</a> <br><img src="fb.gif">

            <div class="navbar">
                <ul>
                    <li><a href="index.html"> Home</a></li>
                    <li ><a href="#"> Services</a></li>
                    <li class="active"><a href="contact.html"> Contact Us</a></li>

                </ul>
            </div>
        </div>


    </div>
    <!--    header end-->
    <!--    <div class="photo"> <img src="hom.jpg" alt="photo"></div>-->
    <div class="photo"><img src="hom.jpg" alt="photo"></div>
    <!--&lt;!&ndash;    content start-->
    <div class="content">
        <div class="lcont">
            <p>Fill out the form below if you have any questions or wish to
                enquire about any of our services.
                We endeavour to reply within 24hrs.</p><br>

            Find Us!<br><br>

            <p>Travel down Johnny Wattersons Lane, over the round-a-bout
            and down into Tromode. Turn right into Carrs Lane Industrial
            Estate (signed Clucas PLC), drive 100 yards into the estate
            past the large strand unit on the right hand side and take first
            right. We are the far end unit of 4 (Unit 8d).</p><br>
            <div class="form">
                <input type="text" name="name" placeholder="Enter name"><br>
                <input type="email" name="mail" placeholder="Enter email"><br>
                <input type="text" name="phone" placeholder="phone number"><br>
                <textarea name="Comment" placeholder="Enter your message"></textarea><br>
                <input type="submit" value="Submit">&nbsp; &nbsp;<input type="reset" value="Reset">
            </div>

        </div>
        <div class="rcon"><h1>Our Services</h1><br>
            Athlete Development<br>
            Strength & Conditioning<br>
            Speed & Agility Testing<br>
            Body Composition<br>
            Cognitive Development<br>
            Functional Movement Screening<br>
            1Rep Max & Power Testing<br>
            Performance Evaluation Report
        </div>
    </div>

    <!--    footer start-->
    <div class="footer">
        <div class="ltext">website by naresh</div>
        <div class="rtext">@ milijuli gas</div>

    </div>


</div>

</body>
</html>